
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Ubuntu:wght@400;500&display=swap');

body{
  background-color:white;
  font-family: 'Ubuntu', sans-serif;
}

/* -------Lobby Styling----*/

#logo{
        display: block;
        margin: 0 auto
}

#form-container{
        width: 400px;
        box-shadow: seashell;
        padding: 30px;
        border-radius: 5px;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        
}

#welcom-message{
        text-align: center;
        margin: 15px;
}

#welcome-message h1{
        font-size: 36px;
}

#welcome-message p{
      font-size: 16px;
}


.form-field{
        margin: 20px;

}

.form-field label{
       font-size: 16px;
       line-height: 1.7rem;
        
}


.form-field input{
        width: 100%;
        border: 2px solid silver;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
}


.form-field input[type='submit']{
        background-color: rgba(217, 231, 15, 0.972);
        border: none;
        
}

@media screen and (max-width:450px){
        #form-container{
                width: 95%;

        }
        #welcom-message h1{
                font-size: 24px;
        }
}



/* -------Room Styling----*/

#room-name-wrapper{
        text-align: center;
        font-size: 18px;
}

#video-streams{
        display: flex;
        flex-wrap: wrap;
        height: 85vh;
        width: 75%;
        margin:0 auto;
}

.video-container{
        flex-basis: 500px;
        flex-grow: 1;
        max-height: 100%;
        min-height: 350px;
        border: 1px solid skyblue;
        border-radius: 3px;
        margin: 2px;
        background-color: slategray;
        position: relative;
}

.video-player{
        height: 100%;
        width: 100%;

}

.video-player > *{
        border-radius: 5px;
}

.username-wrapper{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 9999;
        background-color: rgb(0, 0, 0,0.3);
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        color: white;
}

@media screen and (max-width:1650px){
        .video-container{
                flex-basis: 300px;
                min-height: 200px;
        }
}

/* ---------Room Styling / Controls ---------- */

#controls-wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        column-gap: 1em;
        position: fixed;
        bottom: 20px;
}

.control-icon{
        height:20px;
        width: 20px;
        background-color: silver;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
}

.cam-icon{
        height:20px;
        width: 20px;
        background-color: silver;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
}

.leave-icon{
        height:20px;
        width: 20px;
        background-color:#ff0000;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
}
